
@{
    ViewBag.Title = "2019 Event Calendar";
}

<style type="text/css">
    /*header*/
    .eventHeader{
        margin-top:10px;
    }
    .eventHeader h1 {
        color: darkgreen;
        font: bold 25px arial,verdana;
    }
    /*month*/
    .eventMonth h2 {
        font: bold 18px arial,verdana;
        margin-top:20px;
    }
    .eventMonth ul{
        padding-left:40px;
        font: 14px arial,verdana;
        list-style:square;
    }
    .eventMonth ul li {
        line-height: 25px;
    }
</style>
<div class="eventHeader">
    <h1>2019 Event Calendar</h1>
</div>
<div class="container-fluid">
    <!--1-->
    <div class="eventMonth">
        <h2>Januray</h2>
        <ul>
            <li>Seamaster 2019 ITTF World Tour Hungarian Open, Budapest (HUN): 15-20 Jan</li>
        </ul>
    </div>
    <!--2-->
    <div class="eventMonth">
        <h2>February</h2>
        <ul>
            <li>Universal ITTF Pan American Cup, Guaynabo (PUR): 1-3 Feb</li>
            <li>CCB ITTF Europe Top 16 Cup, Montreux (SUI): 2-3 Feb</li>
            <li>Seamaster 2019 ITTF Challenge Plus Portugal Open, Lisboa (POR): 13-17 Feb</li>
        </ul>
    </div>
    <!--3-->
    <div class="eventMonth">
        <h2>March</h2>
        <ul>
            <li>ITTF Para Lignano Open, Lignano (ITA): 14-16 Mar</li>
            <li>Seamaster 2019 ITTF Challenge Plus Oman Open, Muscat (OMA): 20-24 Mar</li>
            <li>Seamaster 2019 ITTF Challenge Spanish Open, Guadalajara (ESP): 20-24 Mar</li>
            <li>Seamaster 2019 ITTF World Tour Platinum Qatar Open, Doha (QAT): 26-31 Mar</li>
        </ul>
    </div> 
    <!--4-->
    <div class="eventMonth">
        <h2>April</h2>
        <ul>
            <li>LION 32nd ITTF-ATTU Asian Cup, Yokohama (JPN): 5-7 Apr</li>
            <li>World Table Tennis Championships, Budapest (HUN): 21-28 Apr</li>
            <li>Opatija Milenij Open, Opatija (CRO), 26-28 Apr</li>
        </ul>
    </div>
    <!--5-->
    <div class="eventMonth">
        <h2>May</h2>
        <ul>
            <li>Seamaster 2019 ITTF Challenge Serbia Open, Belgrade (SRB): 1-5 May</li>
            <li>ITTF Para Slovenia Open, Laško (SLO): 8-11 May</li>
            <li>Seamaster 2019 ITTF Challenge Slovenia Open, Otočec (SLO): 8-12 May</li>
            <li>Seamaster 2019 ITTF Challenge Thailand Open, Bangkok (THA): 22-26 May</li>
            <li>ITTF Oceania Cup, Bora Bora (PYF): 25-26 May</li>
            <li>Seamaster 2019 ITTF World Tour Platinum China Open, Shenzhen (CHN): 28 May – 2 Jun</li>
            <li>ITTF Para Polish Open, Wladyslawowo (POL): 30 May – 1 Jun</li>
        </ul>
    </div>
    <!--6-->
    <div class="eventMonth">
        <h2>June</h2>
        <ul>
            <li>Seamaster 2019 ITTF World Tour Hang Seng Hong Kong Open, Hong Kong (HKG): 4-9 Jun</li>
            <li>Seamaster 2019 ITTF World Tour Platinum LION Japan Open, Sapporo (JPN): 12-16 Jun</li>
            <li>ITTF Para Egypt Open, Alexandria (EGY): 26-28 Jun</li>
            <li>ITTF African Para Championships, Alexandria (EGY): 30 Jun – 3 Jul</li>
        </ul>
    </div>
    <!--7-->
    <div class="eventMonth">
        <h2>July</h2>
        <ul>
            <li>Seamaster 2019 ITTF World Tour Korea Open, Busan (KOR): 2-7 Jul</li>
            <li>Seamaster 2019 ITTF World Tour Platinum Australian Open, Geelong (AUS): 9-14 Jul</li>
            <li>T2 Diamond, Johor Bahru (MAS): 18-21 Jul</li>
            <li>ITTF Asian Para Championships, Taichung (TPE): 23-27 Jul</li>
        </ul>
    </div>
    <!--8-->
    <div class="eventMonth">
        <h2>August</h2>
        <ul>
            <li>ITTF Para Japan Open, Tokyo (JPN): 1-3 Aug</li>
            <li>2019 ITTF World Veterans Tour – Shenzhen, Shenzhen Guangming District (CHN): 8-11 Aug</li>
            <li>ITTF Para Bangkok Open, Bangkok (THA): 8-10 Aug</li>
            <li>41st Flanders International Table Tennis Tournaments 2019, Oostende (BEL): 16-20 Aug</li>
            <li>2019 ITTF World Veterans Tour – Innsbruck, Innsbruck (AUT): 21-25 Aug</li>
        </ul>
    </div>
    <!--9-->
    <div class="eventMonth">
        <h2>September</h2>
        <ul>
            <li>ITTF European Championships, Nantes (FRA): 3-8 Sep</li>
            <li>Seamaster 2019 ITTF Challenge Plus Paraguay Open, Asuncion (PAR): 10-14 Sep</li>
            <li>ITTF-ATTU Asian Table Tennis Championships, Yogyakarta (INA), 15-22 Sep</li>
            <li>T2 Diamond, Haikou (CHN): 26-29 Sep</li>
        </ul>
    </div>
    <!--10-->
    <div class="eventMonth">
        <h2>October</h2>
        <ul>
            <li>Seamaster 2019 ITTF World Tour Swedish Open, Stockholm (SWE): 1-6 Oct</li>
            <li>Seamaster 2019 ITTF World Tour Platinum German Open, Bremen (GER): 8-13 Oct</li>
            <li>2019 ITTF World Veterans Tour – Fort Lauderdale, Florida (USA): 17-20 Oct</li>
            <li>ITTF Women’s World Cup, Chengdu (CHN): 18-20 Oct</li>
            <li>ITTF Men’s World Cup, Chengdu (CHN): 25-27 Oct</li>
        </ul>
    </div>
    <!--11-->
    <div class="eventMonth">
        <h2>November</h2>
        <ul>
            <li>ITTF Team World Cup, Tokyo (JPN): 6-10 Nov</li>
            <li>Seamaster 2019 ITTF World Tour Platinum Austrian Open, Linz (AUT): 12-17 Nov</li>
            <li>T2 Diamond, Singapore (SGP): 28 Nov-1 Dec</li>
        </ul>
    </div>
    <!--12-->
    <div class="eventMonth">
        <h2>December</h2>
        <ul>
            <li>Seamaster 2019 ITTF Challenge Plus Canada Open, Markham (CAN): 4-8 Dec</li>
            <li>Finlandia Open 2019, Lohja (FIN): 5-8 Dec</li>
            <li>Seamaster 2019 ITTF World Tour Grand Finals, TBD: 12-15 Dec</li>
        </ul>
    </div>
</div>
