
@{
    ViewBag.Title = "Tokyo 2020";
}

<link href="~/CSS/Events.css" rel="stylesheet" />

<div class="eventHeader">
    <h1>Tokyo 2020 Olympic Games</h1>
</div>

<div id="wrap" class="clearfix">
    <!--EventInfo-->
    <div class="eventInfo">
        <div class="container-fluid">
            <!--Draws & Results-->
            <div class="eventSubTitle">
                <h2>Tokyo 2020 Olympic site</h2>
                <ul>
                    <li><a href="https://tokyo2020.org/en/">https://tokyo2020.org/en/</a></li>
                </ul>
            </div>
            <!--Qualification System-->
            <div class="eventSubTitle">
                <h2>Qualification System</h2>
                <ul>
                    <li><a href="#">Qualification System (Official detailed system)</a></li>
                    <li><a href="#">Qualification System (Visual Guide)</a></li>
                </ul>
            </div>
            <!--World Qualification Tournaments-->
            <div class="eventSubTitle">
                <h2>
                    World Qualification Tournaments
                </h2>
                <ul>
                    <li><a href="#">World Team Qualification Tournament – Sport Specific Information</a></li>
                    <li><a href="#">World Singles Qualification Tournament – Sport Specific Information</a></li>
                </ul>
            </div>
            <br /><br /><br /><br />
            <small>Note: The page will be updated frequently as details are confirmed.</small>
        </div>
    </div>
    <!--Sponser-->
    <div class="sponser">
        <div class="brand">
            <span>Official Table</span>
            <br />
            <img src="~/Images/Events/brand0.png" />
        </div>
        <div class="brand">
            <span>Official Ball</span>
            <br />
            <img src="~/Images/Events/brand1.png" />

        </div>
        <div class="brand">
            <span>Official Floor</span>
            <br />
            <img src="~/Images/Events/brand2.png" />
        </div>
</div>
